<div class="pb-3">
    <h3 class="ch-cookie-consent__title"><i class="bi bi-cookie"></i> {{ 'ch_cookie_consent.title'|trans({}, 'CHCookieConsentBundle') }}</h3>
    <p class="mb-0 ch-cookie-consent__intro intro-1">{{ 'ch_cookie_consent.intro1'|trans({}, 'CHCookieConsentBundle') }}</p>
    <p class="mb-0 ch-cookie-consent__intro intro-2">{{ 'ch_cookie_consent.intro2'|trans({}, 'CHCookieConsentBundle') }}</p>
    <p class="mt-3 mb-0">
        <b>{{- 'ch_cookie_consent.read_more_start'|trans({}, 'CHCookieConsentBundle') -}}</b>
        <a class="fst-italic text-decoration-underline ch-cookie-consent__read-more" href="#">
            {{- 'ch_cookie_consent.read_more_end'|trans({}, 'CHCookieConsentBundle') -}}
        </a>.
    </p>
</div>
